:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);

  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

body {
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

body > * + * {
  margin-top: 1.5em;
}

img {
  max-width: 100%;
}

header {
  padding: 1.5em;
}

.hero {
  margin-top: 0;
}

main {
  text-align: center;
  margin-top: 0;
  padding: 1.5em;
}

main > h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 0;
  font-weight: 400;
}

main > h1 > span {
  color: var(--desaturated-red);
  font-weight: 300;
}

main > p {
  color: var(--desaturated-red);
}

form {
  position: relative;
  display: inline-block;
}

form input:invalid {
  border: 1.5px solid var(--soft-red);
}

form input {
  width: 12rem;
  padding: 0.8em 1.5em;
  border-radius: 3em;
  border: 1px solid #bbb;
  background-color: transparent;
}

form input:focus {
  outline: none;
  box-shadow: 1px 1px 0 var(--dark-grayish-red);
}

form button {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 0.6em 1.7em;
  border-radius: 1.8em;
  border: transparent;
  position: absolute;
  right: 0;
}

form button:hover {
  box-shadow: 0.5em 0.5em 1em var(--desaturated-red);
  cursor: pointer;
}

form input:invalid ~ .error,
form.hasErrors input:valid ~ .error {
  display: block;
  color: var(--soft-red);
  font-size: 0.7rem;
  padding-left: 1.5em;
  margin-top: 0.5em;
  text-align: left;
}

form input:valid ~ .error {
  display: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--desaturated-red);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--desaturated-red);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--desaturated-red);
}

@media screen and (min-width: 50em) {
  body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 30vh;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(images/bg-pattern-desktop.svg) no-repeat;
    background-size: auto;
    z-index: -9999;
  }

  header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    padding: 2em 5em;
  }

  .hero {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    text-align: left;
    padding: 0 5em;
  }
}
